1
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>formulaire du patient</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="bootstrap-5.0.2-dist - Copie/css/bootstrap.css">
  
   <!-- Bootstrap CSS -->
   <link
   rel="stylesheet"
   href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
   integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
   crossorigin="anonymous"
 />

</head>
<body>
 
  
<form action="" class="form">
  <div class="box">
    <h1 class="iij">PATIENT </h1>

    <div class="input-group mb-3">
      <input type="username" class="form-control" placeholder="" aria-label="last_name" aria-describedby="basic-addon2">
      <span class="input-group-text" id="basic-addon2" name="nom"  >last_name</span>
    </div>

    <div class="input-group mb-3">
      <input type="username" class="form-control" placeholder="" aria-label="last_name" aria-describedby="basic-addon2">
      <span class="input-group-text" id="basic-addon2" name="nom"  >first_name</span>
    </div>



    <div class="input-group mb-3">
      <input type="email" class="form-control" placeholder="" aria-label="fist name" aria-describedby="basic-addon2">
      <span class="input-group-text" id="basic-addon2" name="email" >adress</span>

    </div>

    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="" aria-label="fist name" aria-describedby="basic-addon2">
      <span class="input-group-text" id="basic-addon2" name="prename" >both_date</span>
    </div>




    <div class="input-group mb-3">
      <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)">
      <span class="input-group-text"  id="number"  name="number" > phone_number</span>
    </div>

    <div class="input-group mb-3">
      <input type="test" class="form-control" aria-label="Amount (to the nearest dollar)">
      <span class="input-group-text" id="confirmpassword" name="test" >sex</span>
    </div>
    <button id="aa" class="btn btn-danger" type="button" id="save" name="save"  >save</button>
    <!-- <a href="login.ejs">login</a> -->


  </div>
 <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>


 
</form>



</body>

</html>
